## Calculating asset returns using pandas

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from openbb import obb

In [2]:
obb.user.preferences.output_type = "dataframe"

Fetches historical price data for the equity "AAPL" using the "yfinance" provider and stores it in 'data'

In [3]:
data = obb.equity.price.historical("AAPL", provider="yfinance")

In [4]:
display(data)

,open,high,low,close,volume,dividend
date,,,,,,
2024-02-02,179.860001,187.330002,179.250000,185.850006,102518000,0.0
2024-02-05,188.149994,189.250000,185.839996,187.679993,69668800,0.0
2024-02-06,186.860001,189.309998,186.770004,189.300003,43490800,0.0
2024-02-07,190.639999,191.050003,188.610001,189.410004,53439000,0.0
2024-02-08,189.389999,189.539993,187.350006,188.320007,40962000,0.0
...,...,...,...,...,...,...
2025-01-27,224.020004,232.149994,223.979996,229.860001,94863400,0.0
2025-01-28,230.850006,240.190002,230.809998,238.259995,75707600,0.0
2025-01-29,234.119995,239.860001,234.009995,239.360001,45486100,0.0
2025-01-30,238.669998,240.789993,237.210007,237.589996,55658300,0.0
2025-01-31,247.190002,247.190002,233.440002,236.000000,100959800,0.0

Uses location-based indexing to select the 'close' column and keep it as a DataFrame

In [5]:
df = data.loc[:, ["close"]]

In [6]:
display(df)

                 close
date
2024-02-02  185.850006
2024-02-05  187.679993
2024-02-06  189.300003
2024-02-07  189.410004
2024-02-08  188.320007
...                ...
2025-01-27  229.860001
2025-01-28  238.259995
2025-01-29  239.360001
2025-01-30  237.589996
2025-01-31  236.000000

[250 rows x 1 columns]

Adds a new column 'simple' that contains the simple percentage change of the 'close' prices

In [7]:
df["simple"] = df["close"].pct_change()

In [8]:
display(df)

                 close    simple
date
2024-02-02  185.850006       NaN
2024-02-05  187.679993  0.009847
2024-02-06  189.300003  0.008632
2024-02-07  189.410004  0.000581
2024-02-08  188.320007 -0.005755
...                ...       ...
2025-01-27  229.860001  0.031780
2025-01-28  238.259995  0.036544
2025-01-29  239.360001  0.004617
2025-01-30  237.589996 -0.007395
2025-01-31  236.000000 -0.006692

[250 rows x 2 columns]

Adds a new column 'compound' that contains the compound returns of the 'close' prices

In [9]:
df["compound"] = np.log(df["close"] / df["close"].shift())

In [10]:
display(df)

                 close    simple  compound
date
2024-02-02  185.850006       NaN       NaN
2024-02-05  187.679993  0.009847  0.009798
2024-02-06  189.300003  0.008632  0.008595
2024-02-07  189.410004  0.000581  0.000581
2024-02-08  188.320007 -0.005755 -0.005771
...                ...       ...       ...
2025-01-27  229.860001  0.031780  0.031286
2025-01-28  238.259995  0.036544  0.035892
2025-01-29  239.360001  0.004617  0.004606
2025-01-30  237.589996 -0.007395 -0.007422
2025-01-31  236.000000 -0.006692 -0.006715

[250 rows x 3 columns]

Calculates the percentage change of the 'close' prices over a 3-period window

In [11]:
df["close"].pct_change(periods=3)

date
2024-02-02         NaN
2024-02-05         NaN
2024-02-06         NaN
2024-02-07    0.019155
2024-02-08    0.003410
                ...
2025-01-27    0.026940
2025-01-28    0.065278
2025-01-29    0.074423
2025-01-30    0.033629
2025-01-31   -0.009485
Name: close, Length: 250, dtype: float64

Converts the index to datetime and calculates the monthly percentage change of the 'close' prices, dropping any missing values

In [12]:
df.index = pd.to_datetime(df.index)
df["close"].pct_change(freq="ME").dropna()

date
2024-02-29   -0.027442
2024-04-30    0.001764
2024-05-31    0.128691
2024-07-31    0.024591
2024-09-30    0.045922
2024-10-31   -0.030429
2024-12-31    0.045202
2025-01-31   -0.057583
Name: close, dtype: float64

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.