## Resampling data for different time frames

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from openbb import obb

In [2]:
obb.user.preferences.output_type = "dataframe"

Fetches historical intraday price data for the equity "AAPL" with 1-minute intervals using the "yfinance" provider and stores it in 'df'

In [3]:
df = obb.equity.price.historical("AAPL", interval="1m", provider="yfinance")

In [4]:
display(df)

                           open        high         low       close   volume
date
2025-01-27 09:30:00  224.029999  224.649994  224.000000  224.630005  5079269
2025-01-27 09:31:00  225.759995  226.629898  225.509995  226.619995  1882165
2025-01-27 09:32:00  226.619995  226.949997  226.369995  226.570099   682567
2025-01-27 09:33:00  226.600006  226.889999  226.139999  226.729996   779307
2025-01-27 09:34:00  226.755005  226.990005  226.410004  226.470001   475489
...                         ...         ...         ...         ...      ...
2025-01-31 15:55:00  235.910004  236.500000  235.630005  235.649994   682027
2025-01-31 15:56:00  235.610001  235.869995  235.509995  235.839996   608345
2025-01-31 15:57:00  235.835007  236.009995  235.529999  235.899994   615619
2025-01-31 15:58:00  235.910004  235.979996  235.639999  235.770004   561576
2025-01-31 15:59:00  235.770004  236.080002  235.750000  235.860001  1214983

[1942 rows x 5 columns]

Resamples the 'close' column of 'df' to hourly frequency and stores it in 'resampled'

In [5]:
resampled = df.resample(rule="h")["close"]

Displays the first value of each hour in the resampled data

In [6]:
resampled.first()

date
2025-01-27 09:00:00    224.630005
2025-01-27 10:00:00    225.278107
2025-01-27 11:00:00    227.723801
2025-01-27 12:00:00    228.509506
2025-01-27 13:00:00    230.195007
                          ...
2025-01-31 11:00:00    240.939896
2025-01-31 12:00:00    238.839996
2025-01-31 13:00:00    238.449997
2025-01-31 14:00:00    235.300003
2025-01-31 15:00:00    233.879395
Freq: h, Name: close, Length: 103, dtype: float64

Displays the last value of each hour in the resampled data

In [7]:
resampled.last()

date
2025-01-27 09:00:00    225.660004
2025-01-27 10:00:00    227.789993
2025-01-27 11:00:00    228.445007
2025-01-27 12:00:00    230.149994
2025-01-27 13:00:00    231.434998
                          ...
2025-01-31 11:00:00    238.929993
2025-01-31 12:00:00    238.309998
2025-01-31 13:00:00    235.259995
2025-01-31 14:00:00    234.130005
2025-01-31 15:00:00    235.860001
Freq: h, Name: close, Length: 103, dtype: float64

Calculates the mean of each hour in the resampled data

In [8]:
resampled.mean()

date
2025-01-27 09:00:00    226.662986
2025-01-27 10:00:00    226.776737
2025-01-27 11:00:00    228.560006
2025-01-27 12:00:00    229.624228
2025-01-27 13:00:00    231.112306
                          ...
2025-01-31 11:00:00    239.599033
2025-01-31 12:00:00    239.195818
2025-01-31 13:00:00    236.814032
2025-01-31 14:00:00    234.852917
2025-01-31 15:00:00    234.329626
Freq: h, Name: close, Length: 103, dtype: float64

Calculates the open, high, low, and close (OHLC) for each hour in the resampled data

In [9]:
resampled.ohlc()

                           open        high         low       close
date
2025-01-27 09:00:00  224.630005  227.570007  224.630005  225.660004
2025-01-27 10:00:00  225.278107  228.460007  224.945007  227.789993
2025-01-27 11:00:00  227.723801  229.690002  227.619995  228.445007
2025-01-27 12:00:00  228.509506  230.440002  228.440002  230.149994
2025-01-27 13:00:00  230.195007  231.740005  230.195007  231.434998
...                         ...         ...         ...         ...
2025-01-31 11:00:00  240.939896  240.964996  238.729996  238.929993
2025-01-31 12:00:00  238.839996  239.771805  238.309998  238.309998
2025-01-31 13:00:00  238.449997  238.449997  235.169998  235.259995
2025-01-31 14:00:00  235.300003  235.830002  233.549194  234.130005
2025-01-31 15:00:00  233.879395  236.095001  233.580002  235.860001

[103 rows x 4 columns]

Converts 'df' to a daily frequency and stores it in 'ddf'

In [10]:
ddf = df.asfreq("D").to_period()

In [11]:
display(ddf)

                  open        high         low       close   volume
date
2025-01-27  224.029999  224.649994  224.000000  224.630005  5079269
2025-01-28  230.880005  232.800003  230.880005  232.668701  3860885
2025-01-29  234.149994  235.369904  234.009995  235.000000  3768934
2025-01-30  238.664993  239.179993  238.410004  238.910004  1645280
2025-01-31  247.039993  247.190002  245.889999  246.570007  7326626

Converts 'df' to a business day frequency and stores it in 'ddf'

In [12]:
ddf = df.asfreq(pd.offsets.BDay())

In [13]:
display(ddf)

                           open        high         low       close   volume
date
2025-01-27 09:30:00  224.029999  224.649994  224.000000  224.630005  5079269
2025-01-28 09:30:00  230.880005  232.800003  230.880005  232.668701  3860885
2025-01-29 09:30:00  234.149994  235.369904  234.009995  235.000000  3768934
2025-01-30 09:30:00  238.664993  239.179993  238.410004  238.910004  1645280
2025-01-31 09:30:00  247.039993  247.190002  245.889999  246.570007  7326626

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.