## Storing data in ultra-fast HDF5

In [3]:
!pip install tables

Collecting tables
  Downloading tables-3.10.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.20.0 in /Users/kirilllisenkov/Documents/Python-for-Algorithmic-Trading-Cookbook/algo/lib/python3.10/site-packages (from tables) (2.2.2)
Collecting numexpr>=2.6.2 (from tables)
  Downloading numexpr-2.10.2-cp310-cp310-macosx_11_0_arm64.whl.metadata (8.1 kB)
Requirement already satisfied: packaging in /Users/kirilllisenkov/Documents/Python-for-Algorithmic-Trading-Cookbook/algo/lib/python3.10/site-packages (from tables) (24.2)
Collecting py-cpuinfo (from tables)
  Using cached py_cpuinfo-9.0.0-py3-none-any.whl.metadata (794 bytes)
Collecting blosc2>=2.3.0 (from tables)
  Downloading blosc2-2.7.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (9.1 kB)
Requirement already satisfied: typing-extensions>=4.4.0 in /Users/kirilllisenkov/Documents/Python-for-Algorithmic-Trading-Cookbook/algo/lib/python3.10/site-packages (from tables) (4.12.2)
Collecting ndindex>=1.4 (from blosc2>=2.3.0->tables)
  Downloading ndindex-1.9.2-cp310-cp310-macosx_11_0_arm64.whl.metadata (3.4 kB)
Requirement already satisfied: msgpack in /Users/kirilllisenkov/Documents/Python-for-Algorithmic-Trading-Cookbook/algo/lib/python3.10/site-packages (from blosc2>=2.3.0->tables) (1.1.0)
Downloading tables-3.10.1-cp310-cp310-macosx_11_0_arm64.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 7.2 MB/s eta 0:00:00a 0:00:01
Downloading blosc2-2.7.1-cp310-cp310-macosx_11_0_arm64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 3.0 MB/s eta 0:00:00a 0:00:01
Downloading numexpr-2.10.2-cp310-cp310-macosx_11_0_arm64.whl (134 kB)
Using cached py_cpuinfo-9.0.0-py3-none-any.whl (22 kB)
Downloading ndindex-1.9.2-cp310-cp310-macosx_11_0_arm64.whl (162 kB)
Installing collected packages: py-cpuinfo, numexpr, ndindex, blosc2, tables
Successfully installed blosc2-2.7.1 ndindex-1.9.2 numexpr-2.10.2 py-cpuinfo-9.0.0 tables-3.10.1

In [4]:
import warnings

In [5]:
import pandas as pd
from IPython.display import Markdown, display
from openbb import obb

In [6]:
warnings.filterwarnings("ignore")
obb.user.preferences.output_type = "dataframe"

In [7]:
STOCKS_DATA_STORE = "stocks.h5"
FUTURES_DATA_STORE = "futures.h5"

In [8]:
ticker = "SPY"
root = "ES"

Fetches historical price data for the equity "SPY" starting from 2021-01-01 using the "yfinance" provider and stores it in 'spy_equity'

In [9]:
spy_equity = obb.equity.price.historical(
    ticker, start_date="2021-01-01", provider="yfinance"
)

Fetches options chains for the equity "SPY" using the "cboe" provider and stores it in 'spy_chains'

In [13]:
spy_chains = obb.derivatives.options.chains(ticker, provider="yfinance")

Gets the unique expiration dates from 'spy_chains'

In [14]:
spy_expirations = spy_chains.expiration.astype(str).unique().tolist()

Fetches historical price data for a specific option of "SPY" starting from 2021-01-01 using the "yfinance" provider and stores it in 'spy_historic'

In [15]:
spy_historic = obb.equity.price.historical(
    ticker + spy_expirations[-10].replace("-", "")[2:] + "C" + "00400000",
    start_date="2021-01-01",
    provider="yfinance",
)

Save stock data to HDF5 store

In [16]:
with pd.HDFStore(STOCKS_DATA_STORE) as store:
    store.put("equities/spy/stock_prices", spy_equity)
    store.put("equities/spy/options_prices", spy_historic)
    store.put("equities/spy/chains", spy_chains)

Save futures data to HDF5 store

In [17]:
with pd.HDFStore(FUTURES_DATA_STORE) as store:
    for i in range(24, 31):
        expiry = f"20{i}-12"
        df = obb.derivatives.futures.historical(
            symbol=[root],
            expiry=expiry,
            start_date="2021-01-01",
        )
        df.rename(columns={"close": expiry}, inplace=True)
        prices = df[expiry]

        store.put(f"futures/{root}/{expiry}", prices)

Load stock data from HDF5 store

In [18]:
with pd.HDFStore(STOCKS_DATA_STORE) as store:
    spy_prices = store["equities/spy/stock_prices"]
    spy_options = store["equities/spy/options_prices"]
    spy_chains = store["equities/spy/chains"]

Load futures data from HDF5 store

In [19]:
with pd.HDFStore(FUTURES_DATA_STORE) as store:
    es_prices = store[f"futures/{root}/2024-12"]

In [20]:
display(spy_prices)
display(spy_options)
display(es_prices)

,open,high,low,close,volume,dividend
date,,,,,,
2021-01-04,375.309998,375.450012,364.820007,368.790009,110210800,0.0
2021-01-05,368.100006,372.500000,368.049988,371.329987,66426200,0.0
2021-01-06,369.709991,376.980011,369.119995,373.549988,107997700,0.0
2021-01-07,376.100006,379.899994,375.910004,379.100006,68766800,0.0
2021-01-08,380.589996,381.489990,377.100006,381.260010,71677200,0.0
...,...,...,...,...,...,...
2025-01-27,594.809998,599.690002,594.640015,599.369995,70361100,0.0
2025-01-28,600.619995,605.369995,597.250000,604.520020,44433300,0.0
2025-01-29,603.719971,604.130005,599.219971,601.809998,37177400,0.0
2025-01-30,603.960022,606.599976,600.719971,605.039978,39281300,0.0
2025-01-31,607.500000,609.960022,601.049988,601.820007,66566900,0.0

                  open        high         low       close  volume
date
2024-04-04  147.000000  147.000000  147.000000  147.000000       1
2024-05-02  131.429993  131.429993  131.429993  131.429993       4
2024-05-20  156.570007  156.570007  156.320007  156.320007       6
2024-06-03  150.940002  150.940002  150.940002  150.940002       0
2024-06-10  159.199997  159.199997  159.199997  159.199997       1
2024-06-12  168.470001  168.470001  168.470001  168.470001       0
2024-06-17  170.660004  170.660004  170.660004  170.660004       1
2024-06-27  170.169998  170.229996  170.169998  170.229996       3
2024-07-08  178.020004  178.020004  178.020004  178.020004       1
2024-08-02  152.130005  152.130005  151.860001  151.860001      18
2024-08-12  154.000000  154.000000  154.000000  154.000000       0
2024-08-15  172.039993  172.699997  172.039993  172.699997       2
2024-08-19  176.000000  176.000000  176.000000  176.000000      13
2024-08-20  177.339996  177.339996  177.339996  177.339996       1
2024-09-05  166.029999  166.750000  166.029999  166.750000       4
2024-09-11  170.250000  170.250000  170.250000  170.250000       3
2024-09-19  188.220001  188.220001  188.119995  188.119995      20
2024-09-23  186.050003  186.220001  186.050003  186.130005       6
2024-09-25  188.029999  188.309998  188.029999  188.309998       3
2024-09-26  189.710007  189.710007  189.639999  189.639999       0
2024-09-27  190.220001  190.220001  190.059998  190.059998       2
2024-10-01  186.649994  187.300003  186.649994  187.300003      11
2024-10-02  185.960007  186.350006  185.779999  186.350006       0
2024-10-03  186.789993  186.789993  184.630005  185.860001      14
2024-10-14  201.449997  201.449997  201.449997  201.449997      14
2024-10-24  195.940002  195.940002  195.940002  195.940002       3
2024-10-25  198.690002  198.690002  198.690002  198.690002       3
2024-10-30  200.000000  200.000000  200.000000  200.000000       6
2024-10-31  190.449997  190.449997  190.449997  190.449997       7
2024-11-04  187.250000  187.279999  187.250000  187.279999       2
2024-11-05  190.199997  192.399994  189.529999  192.399994      28
2024-11-06  204.210007  204.210007  204.210007  204.210007       1
2024-11-07  208.470001  208.470001  208.470001  208.470001       1
2024-11-08  213.380005  213.380005  213.380005  213.380005       2
2024-11-15  201.949997  201.949997  201.949997  201.949997       3
2024-12-03  217.720001  217.720001  217.720001  217.720001       3
2024-12-16  220.110001  220.110001  220.110001  220.110001       1
2025-01-03  207.419998  207.419998  207.419998  207.419998       2
2025-01-10  192.809998  192.809998  192.809998  192.809998       4
2025-01-15  204.149994  204.149994  204.149994  204.149994       2

date
2021-01-04    3692.25
2021-01-05    3718.25
2021-01-06    3740.50
2021-01-07    3795.50
2021-01-08    3817.50
               ...
2025-01-27    6046.75
2025-01-28    6097.00
2025-01-29    6067.50
2025-01-30    6099.25
2025-01-31    6065.50
Name: 2024-12, Length: 1028, dtype: float64

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.